NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ADMIN_EMAIL=
NEXT_PUBLIC_BOOTH_ADMIN_EMAIL=
NEXT_PUBLIC_BOOTH_ADMIN_PASSWORD=
NEXT_PUBLIC_QR_AUTH_KEY=
NEXT_PUBLIC_MOCK_TIME="2026-05-23T10:14:00"
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=